.flex-grid {
  display: flex;
  flex-wrap: wrap;
  height: 774px;
  width: 500px;
}
.grid-item {
  flex: 50%;
  border-top: solid 1px #000;
  background-repeat: no-repeat;
}
.warrior {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/e/e6/Warrior_Back.png/revision/latest?cb=20160916211047");
}
.healer {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/6/6e/Healer_Back.png/revision/latest?cb=20160916211739");
}
.scout {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/5/57/Scout_Back.png/revision/latest?cb=20160916212209");
}
.mage {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/3/38/Mage_Back.png/revision/latest?cb=20160916143917");
}
.syndrael {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/1/11/Syndrael.png/revision/latest/scale-to-width-down/200?cb=20150428132149");
}
.grisban {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/4/42/Grisban_the_thirsty_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629041059");
}
.corbin {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/2/2a/Corbin_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629040342");
}
.trenloe {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/b/b9/Trenloe_the_strong_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629092606");
}
.pathfinder {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/9/97/Pathfinder_Durik_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629085111");
}
.ulma {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/2/24/Ulma_Grimstone_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629092655");
}
.okaluk {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/f/f8/Okaluk_and_Rakash_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629084839");
}
.ashrian {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/5/52/Ashrian_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629035415");
}
.augur {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/1/1c/Augur_Grisom_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629035751");
}
.elder {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/9/95/Elder_Mok_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629040521");
}
.gherinn {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/f/fc/Brother_Gherinn_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629040012");
}
.logan {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/c/c2/Logan_Lashley_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629045807");
}
.tomble {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/c/c3/Tomble_Burrowell_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629092505");
}
.lindel {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/d/de/Lindel_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629045607");
}
.laurel {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/8/87/Laurel_of_Bloodwood_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629045003");
}
.rogana {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/7/79/Roganna_the_shade_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629091135");
}
.seer {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/f/fc/Seer_Kel_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629091422");
}
.shiver {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/0/0e/Shiver_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629091518");
}
.tarha {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/b/b0/WidowTarha_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629092834");
}
.leoric {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/3/32/Leorik_of_the_Book_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629045223");
}
.jaes {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/1/12/Jaes_the_exile_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629044133");
}
.dezra {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/d/d4/Dezra_the_vile_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629040914");
}
.avric {
  background-image: url("https://descent2e.fandom.com/wiki/Avric_Albright");
}
.nanok {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/0/0d/Nanok2.jpg/revision/latest/scale-to-width-down/210?cb=20160603212701");
}
.jain {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/d/d7/JainFairwood.png/revision/latest/scale-to-width-down/200?cb=20150428132150");
}
.tatianna {
  background-image: url("https://static.wikia.nocookie.net/descent2e/images/6/62/Tatiana_full.jpg/revision/latest/scale-to-width-down/200?cb=20190629092029");
}
